body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

input[type="text"],  {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

p {
    margin: 10px 0;
}

#totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.hidden {
    display: none;
}

