*
{
    box-sizing: border-box;
}
body
{
    padding: 0;
    margin: 0;
}
#header, #footer {
    width: 100%;
}
#footer {
    background-color: #abc;
    height: 15vw;
    max-height: 100px;
}
#nav > div{
    background-color: #acd;
}
#nav {
    padding: 1vw;
    background-color: #abc;
}
.nazv {
    background-color: #abc;
    height: 120px;
}
.img
{
    background-color: #abc;
    width: 120px;
    height: 120px;
}
.img img
{
    height: 100%;
}
.content
{
    width: 100%;
}
.vse
{
    background-color: #d9d9d9;
}
.vse > form
{
    background-color: white;
    width: 550px;
}

#table, #table td
{
    border: 1px #222222 solid;
    text-align: center;
}
#table td
{
    padding: 14px;
}
.nat {
    background-color: #c0c0c0;
}


@media screen and (orientation: landscape)
{
    #header
    {
        background-color: #abc;
    }
    #nav > div
    {
        background-color: #acd;
    }
    .nazv
    {
        height: 100%;
    }
}
