#nav {
    padding: 1vw;
    background-color: #abc;
}
#nav > div{
    background-color: #acd;
    width: fit-content;
}
.nazv {
    background-color: #abc;
    height: 120px;
}
.img
{
    background-color: #abc;
    width: 120px;
    height: 120px;
}
.vse
{
    background-color: #d9d9d9;
    text-align: center;
}
#table
{
    margin: 0 auto;
}
#tablee {
    overflow-x: auto;
}
#table, #table td
{
    border: 1px #222222 solid;
}
#table td
{
    padding: 14px;
}
.nat {
    background-color: #c0c0c0;
}
.vse > form
{
    background-color: white;
    max-width: 550px;
}
#footer {
    background-color: #abc;
    height: 15vw;
    max-height: 100px;
}
.cont
{
    margin-left: 10vw;
}

@media (min-width:768px)
{
    header
    {
        background-color: #abc;
    }
    #nav > div
    {
        background-color: #acd;
    }
    .nazv
    {
        height: 100%;
    }
}
